
/*- Gotham -- book -*/

@font-face {
    font-family:"think";
    src: url(./../fonts/Gotham-Book.ttf);
}

.think { font-family:"think"; }

/*- Gotham -- italic -*/

@font-face {
    font-family:"think-light-italic";
    src: url(./../fonts/Gotham-ThinItalic.ttf);
}

.think-li { font-family : "think-light-italic" }

@font-face {
    font-family:"think-light-italic";
    src: url(./../fonts/Gotham-BookItalic.ttf);
}

/*- Gotham -- bold -*/

@font-face {
    font-family:"think-bold";
    src: url(./../fonts/Gotham-Bold.ttf);
}

.think-bold { font-family:"think-bold"; }

/*- Gotham -- black -*/

.think-black { font-family : "think-black" }

@font-face {
    font-family:"think-black";
    src: url(./../fonts/Gotham-Black.ttf);
}

/*- Gotham -- black -*/

.think-medium { font-family : "think-medium" }

@font-face {
    font-family:"think-medium";
    src: url(./../fonts/Gotham-Medium.ttf);
}


/*- Gotham -- black -*/

.think-light { font-family : "think-light" }

@font-face {
    font-family:"think-light";
    src: url(./../fonts/Gotham-Light.ttf);
}


/* fonts */

.text-center { text-align: center; }
.text-j { text-align: justify;}

.fw { font-weight:bold; }

/* font-size */

.f-1 { font-size:53px; }
.f-2 { font-size:40px; }
.f-3 { font-size:2rem; }
.f-4 { font-size:24px; }
.f-5 { font-size:18px; }
.f-6 { font-size:.9rem; }

.f-26 { font-size:26px; }
.f-16 { font-size:16px; }

/* line heighths */

.line-ht1 { line-height:65px; }
.line-ht2 { line-height:40px; }
.line-ht3 { line-height:28px; }
.line-ht4 { line-height:20px; }
.line-ht5 { line-height:10px; }

.line-ht18 { line-height:18px; }