/* all */

@media screen and ( max-width: 1728px )
{
    /* mockups videos */
    
    #bx-mockups-deslice { height:60vh; }

    #mockups 
    { 
        height:70vh; 
        padding:30% 0px; 
    }

    /* integrations */

    #integrations > section > article:last-child { height:650px; }

    /* complementary */

    #complementary > article > ul > li > p { padding-top:0px; }
    #complementary > article > ul > li > div { height:260px; }

    /* heros */

    .rectangle { height:450px; }

    #hero-1 > section,
    #hero-2 > section { height:450px; }

    /* flat heros */

    #flat-hero-1 { height:900px; }
    

    /* previews */

    .slide-previews { width:1728px; height:100vh; }

    .card-think-about { bottom:-40px; }
}

@media screen and ( max-width: 1440px ) 
{
    /* mockups videos */

    #mockups 
    { 
        height:70vh; 
        padding:40% 0px; 
    }
}

@media screen and ( max-width: 1000px ) 
{
    #mockups 
    { 
        height:100vh; 
        
        padding:450px 0px; 
    }
}

/* fonts size pos 600px */

@media screen and ( max-width: 600px ) 
{
    .f-1 { font-size:28px; line-height:36px }
    .f-2 { font-size:20px; line-height:36px }
    .f-3 { font-size:18px; line-height:36px }
    .f-4 { font-size:15px; line-height:36px }
    .f-5 { font-size:.9rem; line-height:28px }
}

/* slide */


@media screen and ( max-width: 1440px ) 
{
    #slide > section > article 
    { 
        width:60%;
        min-width:680px; 
    }

    .img-slide 
    { 
        width:100%;
        height:100vh;
        min-width:1440px;
    }   
}

@media screen and ( max-width: 1200px )
{
    .img-slide { margin-left:-20%; }
}

@media screen and ( max-width: 1000px )
{
    .img-slide { width:130%;margin-left:-40%; }
}

@media screen and ( max-width: 900px )
{
    .img-slide { margin-left:-60%; }
}

@media screen and ( max-width: 800px )
{

    #slide { height:150vh; }
    
    #slide > section > article { width:100% !important; min-width:100px;padding:1%; }

    #slide > section > article > .btn { width:100%; }

    .img-slide { margin-left:-80%; }

    #gradient 
    {
        height:150vh;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 70%);
    }
}

@media screen and ( max-width: 600px )
{
    .img-slide 
    { 
        float:left;
        min-width:0px;
        margin-left:-400px;
        height:80vh;
    }

    #slide > section > article { width:100%;padding:4%;}

    #slide > section > article > .f-5,
    #slide > section > article > .btn { font-family:'think-bold'; }

    #slide > section > article > .btn { font-size:18px; }
    

    #slide > section  { padding:0px;padding:0px 3%; }

    .img-slide { width:1080px; }

    #gradient,
    #slide { height:100vh; } 
}

@media screen and ( max-width: 420px )
{
    .img-slide 
    { 
        width:160%;
        min-width:800px;
        height:60vh;
        margin-left:-85%; 
    }

    #slide > section > article { padding:5px;}

    #gradient { height:100vh; }
    #slide { height:100vh; } 
}

@media screen and ( max-width: 350px )
{
    .img-slide { margin-left:-100%; }
}

/* infinite-slide */

@media screen and ( max-width: 1200px )
{
    #infinite-slide > header { width:80%; }
}

@media screen and ( max-width: 900px )
{
    #infinite-slide > header { width:80%; }

    .badge-integrations { display:block; margin:auto; height:auto; margin-top:10px;}
}

@media screen and ( max-width: 600px )
{
    #infinite-slide > header { padding:0px; }
    .badge-integrations { min-width:250px;font-size:15px; }

    .img-radius-integrations { width:180px;height:180px; }

    #bx-slide-infinite { width:1250px;height:35vh; }
}





/* complementary */


@media screen and ( max-width: 1200px )
{
    #complementary > article > ul > li:first-of-type { padding:0px;width:90%;text-align: center;}    

    #complementary > article > ul > li { width:50%;}

    #bx-displace-complementary  { justify-content: center; }

    #complements > article > ul > li:first-child 
    {
        width:100%;
        padding:20px;
        text-align: center;
    }

    #complements > article > ul > li { width:50%; }
}

@media screen and ( max-width: 800px )
{
    #bx-displace-complementary > li { padding:20px; }

    #complementary > article { width:90%; }
}

@media screen and ( max-width: 700px )
{
    #complements > article > ul > li { width:90%; }
}

@media screen and ( max-width: 600px )
{

    #complements > #btns-complementary { display:none; }

    .f-26 { font-size:20px; }

    .box-thinks-products > h1 { font-size:35px;}


    #btns-complementary > .btn-slide-apps { margin:80px 5px; }

    #btns-complementary > .btn-slide-apps > img { margin:auto; }


    #complementary > article > ul > li:first-of-type { width:28%; align-self: flex-start; display: flex;}

    #complementary > article > ul 
    { 
        width:600%; 
        height:auto; 
        margin-left:0%;
        flex-wrap: nowrap;
    }

    #complementary > article > ul > li { width:25%; }

    #btns-complementary { display:flex; } 
}


/* apps */

@media screen and ( max-width: 1300px ) 
{
    .boxis { min-width:20% !important; }
    .img-apps-radius { width:100%;}

    #btns-apps { 
        bottom:80px;
        justify-content: center;
    }
    

    #btns-apps > button > img { width:25px; }
}

@media screen and ( max-width: 600px ) 
{
    #apps-radius > header { width:90%;padding:1%; }
    #btns-apps { bottom:50px; }
    .boxis { min-width:34% !important; }
}

@media screen and ( max-width:400px ) 
{
    .boxis { min-width:50% !important; }
}

/* integrations */

@media screen and ( max-width: 1400px ) 
{
    #integrations > section 
    {
        display:flex;
        justify-content: space-between;
        width:90%;
    }
}

@media screen and ( max-width: 1150px ) 
{
    #integrations > section > article:first-of-type { width:50%;min-width:200px; }
    #integrations > section > article:last-child { min-width:450px; }

    .integrations:nth-child(1) { width:150px; top:190px;left:50px; } /* mp */
    .integrations:nth-child(2) { width:100px;right:100px; bottom:250px; } /* uber */
    .integrations:nth-child(3) { width:180px;right:100px; top:110px; } /* Pedidos ya */
    .integrations:nth-child(4) { width:130px;bottom:200px; left:120px; } /* rapi */

    .c-yellow { width:50px;height:50px;top:130px;left:120px; }
    .lila { width:30px;height:30px; top:40%; right:100px; }
    .green { width:60px;height:60px; top:50%; left:10%; }  
}

@media screen and ( max-width: 1050px ) 
{
    #integrations > section { justify-content: center; }

    #integrations > section > article:first-of-type { width:80%;min-width:200px; }
    #integrations > section > article:last-child { min-width:450px;height:400px; }

    .integrations:nth-child(1) { top:80px;left:50px; } /* mp */
    .integrations:nth-child(2) { right:50px; bottom:100px; } /* uber */
    .integrations:nth-child(3) { right:50px; top:0px; } /* Pedidos ya */
    .integrations:nth-child(4) { width:150px;bottom:50px; left:160px; } /* rapi */

    .c-yellow { top:30px;left:150px; }
    .lila { top:170px; right:50px; }
    .green { top:250px; left:100px; }
}

 


@media screen and ( max-width: 600px ) 
{ 
    #integrations > section > article:first-of-type { width:100%;min-width:200px; }
    #integrations > section > article:last-of-type { min-width:450px; }  
}

@media screen and ( max-width: 400px ) 
{ 
    #integrations > section > article:first-of-type { padding:5%; }
    #integrations > section > article:last-of-type { min-width:350px; }  
    .c-yellow { left:20px; }
    .integrations:nth-child(1) { left:10px; } /* mp */
    .integrations:nth-child(2) { right:0px; bottom:50px; } /* uber */
    .integrations:nth-child(3) { right:10px; } /* Pedidos ya */
    .integrations:nth-child(4) { left:100px; } /* rapi */
    .green { left:30px; }
}

/* gadgets */

@media screen and ( max-width: 1000px ) 
{
    #gadgets > article > ul > li > div > div { width:50%; }
}

@media screen and ( max-width: 900px ) 
{
    #gadgets > article > ul > li > div > div { width:50%; }

    #gadgets > article > ul > li { padding:0px; }
}

@media screen and ( max-width: 800px ) 
{
    #gadgets > article > ul > li > div > div { width:30%; }
    #gadgets > article > ul > li { width:100%; }
    #gadgets > article > ul > li > div { margin:auto; display:block; }


    #gadgets > article > ul > li > div > div , img { 
        margin:auto;
        display:block;
        margin-bottom:15px; 
    }

    #gadgets > article > ul > li > div > h5 ,
    #gadgets > article > ul > li > div > p { text-align: center; }
}

@media screen and ( max-width: 600px ) 
{
    .img-md { width:70%; }

    #gadgets > article > ul > li { padding:0px; }
    #gadgets > article  { padding:30px 0px; width:100%;  }
}





/* customers */


@media screen and ( max-width: 1000px ) 
{
    #customers > header { width:70%; } 
    #customers > article > ul > li { width:33.33%; }
}

@media screen and ( max-width: 500px ) 
{
    #customers > header { width:90%; }
    #customers > article > ul > li { width:50%; }
}

/* novelties */

@media screen and ( max-width: 1440px )
{
    #novelties > section > article:first-of-type { width:55%;min-width:0px; }
    #novelties > section > article:last-child { width:45%; }

    #bx-subscribe { justify-content: flex-start; }
}


@media screen and ( max-width: 1200px ) 
{
    #novelties > section > article:first-of-type,
    #novelties > section > article:last-child { width:90%; }

    #bx-subscribe { justify-content: center; }

    #form-subscribe > div { flex-direction: column; }
    #form-subscribe > div > input { margin-bottom:15px; width:250px; }
    #form-subscribe > div > button { width:250px; }
}

@media screen and ( max-width: 800px ) 
{
    #novelties > section > article:first-of-type > div > .f-1,
    #novelties > section > article:first-of-type > div > .f-5 { padding-left:0px; }

    #novelties > section > article > h1,
    #novelties > section > article > p { text-align: center;}

    .inp-subscribe { text-align: center; }
}

@media screen and ( max-width: 500px ) 
{
    #novelties > section > article:first-of-type > div { width:100%; }
    #bx-subscribe { flex-direction:column; }
    
    #bx-subscribe > input,
    #bx-subscribe > button { width:100%; max-width:none; margin-bottom:10px; }
}

/* benefits */

@media screen and ( max-width: 1000px ) 
{

    #benefits > section { width:80%;}
    #benefits > section > section { padding:0px; } 
    #benefits > section > section:first-child { width:40%; }
    #benefits > section > section:last-child { width:60%; } 
}

@media screen and ( max-width: 900px ) 
{
    #benefits { height:auto;padding:50px 0px; }
    #benefits > section { flex-direction: column-reverse;width:90%; }
    #benefits > section { flex-wrap: wrap;}
    
    #benefits > section > section:last-child { width:100%; }

    #benefits > section > section:first-child { width:70%; }

    #benefits > section > section:last-child > header,
    #benefits > section > section:last-child > article { width:100%; }
}

@media screen and ( max-width: 600px )
{
    #benefits > section > section:first-child { margin-top:20px;width:100%; }
    #benefits > section:last-child > article > button { width:100%; }
} 

/* video */

@media screen and ( max-width:800px )
{
    .video:first-of-type { height:auto; }
}

@media screen and ( max-width:600px ) 
{
    #video > section > ul  
    {
        width:100%;
        margin:auto;
        flex-wrap: wrap;
    }

    #video > section > ul > li 
    { 
        text-align: center;
        margin-bottom:25px; 
        width:50%;
    }
}

/* cite */


@media screen and ( max-width:800px ) 
{
    #cite > section > article { width:90%; }

    #cite > section > article > .f-3 { font-size:1.5rem; }
}

@media screen and ( max-width:600px ) 
{
    #cite > section > article { width:90%;padding:10px; }

    #cite > section > article > .f-3 { font-size:1.2rem; }

    #cite > section > article p:first-of-type { text-align: justify;}
}

@media screen and ( max-width:350px ) 
{
    #cite > section > article { padding:15px; }
    #cite > section > article > .f-3 { font-size:1rem; line-height:20px; }
}

/* together */

@media screen and ( max-width:1300px ) 
{
    #together { justify-content: flex-end; }
}

@media screen and ( max-width:800px ) 
{
    #together { justify-content: center; }
    #together > .revol-banner { opacity:.6; z-index:2; }
    #together > article { width:100%; position:relative; z-index:5; }
}

@media screen and ( max-width:410px ) 
{
    .revol-banner 
    { 
        font-size:100px;
        text-align: center;
        letter-spacing:0px;
        left:5%; 
    }

    .revol-banner:nth-child(1) { margin-bottom:160px; }
    .revol-banner:nth-child(3) { margin-top:160px; }
}

/* previews */


@media screen and ( max-width:1200px ) 
{
    .slide-previews { width:1200px; height:100vh; }
}

@media screen and ( max-width:800px ) 
{
    .slide-previews { width:1440px; height:700px; }
}

@media screen and ( max-width:700px )
{
    .card-think-about { width:80%; }
} 

@media screen and ( max-width:600px ) 
{
    .card-think-about { justify-content: center; align-items: center; }
}

@media screen and ( max-width:450px ) 
{   
    .card-think-about { height:auto;  }
    .card-think-about > p {  font-size:.9rem; }
}

/* razons  */

@media screen and ( max-width:1200px )
{

    #razons >  header { width:80%; }

    #razons > section > article:nth-child(1) > img { width:50%; }

    #razons > section > article:nth-child(1) 
    { 
        margin-top:150px;
        min-width:450px;
        width:40%;
    }

    #razons > section > article:nth-child(2) 
    { 
        width:70%;
        padding:80px 25px;
        text-align: justify; 
    }

    #razons > section > article:nth-child(3) { padding:0px 25px; width:70%; }

    #box-btns-razons { min-width:450px;top:300px; }
}

@media screen and ( max-width:600px ) 
{

   .razons > article > ul > li { font-size:14px; }

    #razons > section > article:nth-child(1) 
    { 
        margin-top:80px;
        width:80%;
        min-width:200px;  
    }

    #razons > section > article:nth-child(2) 
    { 
        width:80%; 
        padding:30px 0px; 
    }
    
    #razons > section > article:nth-child(2) > p { text-align: justify; }

    #razons > section > article:nth-child(3) 
    { 
        width:80%; 
        padding:30px 0px; 
    }

    #box-btns-razons 
    { 
        top:250px;
        width:100%;
        min-width:100px; 
    }

    #box-btns-razons > ul > li 
    { 
        width:50px;
        height:50px;
    } 
    #box-btns-razons > ul > li > img 
    { 
        width:35px;
        display:block;
        margin:auto; 
    } 

    .razons > article > p ,
    .razons > article > h4,
    .razons > article > h6, 
    .razons > article > ul { text-align: center; list-style: none; }
    .razons > article > ul > li { padding:5px 0px; }

    .razons > article:nth-child(1) > div:first-of-type > h4 { line-height:18px; }

    .razons > article:nth-child(1) > div > img { width:50%; }

    .razons > article { padding:0px 0px; }
}




/* flat heros */

@media screen and ( max-width:1300px )
{
    #flat-hero-1 > section,
    #flat-hero-2 > section,
    #flat-hero-3 > section { width:90%;}
   
    #flat-hero-1 > section > article,
    #flat-hero-2 > section > article,
    #flat-hero-3 > section > article { padding:0px 20px;width:50%; }
}

@media screen and ( max-width:1000px ) {

    #flat-hero-1 > section > article:last-child { justify-content: flex-end; }

    #flat-hero-1 > section > article > button,
    #flat-hero-2 > section > article > button,
    #flat-hero-3 > section > article > button { width:100%; } 
}


@media screen and ( max-width:850px )
{

    #flat-hero-1 > section > article:first-child ,
    #flat-hero-2 > section > article:last-child,
    #flat-hero-3 > section > article:last-child { width:100%; }

    #flat-hero-1 > section > article:last-child,
    #flat-hero-2 > section > article:first-child,
    #flat-hero-3 > section > article:first-child { display:none; }

    #flat-hero-1 > section > article,
    #flat-hero-2 > section > article,
    #flat-hero-3 > section > article { padding:0px;}

    #flat-hero-1,
    #flat-hero-2,
    #flat-hero-3 { height:70vh; }

}

/*  hero-1 */


@media screen and ( max-width:1000px ) 
{
    #hero-1 > section:last-child > section > section:last-child 
    {
        justify-content: flex-end; 
    }

    #hero-1 > section > section,
    #hero-2 > section > section { width:90%;}

    #hero-1 > section > section > section:first-child,
    #hero-2 > section > section > section:last-child { width:60%; }
    
    #hero-1 > section > section > section:last-child,
    #hero-2 > section > section > section:first-child { width:40%; }

    #hero-1 > section:last-child > section > section:first-child > button,
    #hero-2 > section:last-child > section > section:last-child > button { width:100%; }
}

@media screen and ( max-width:850px )
{
    .mockup { display: none; }

    #hero-1 > section > section { margin-left:40px; }

    #hero-1 > section > section,
    #hero-2 > section > section  { padding:0px; }

    #hero-1 > section > section { justify-content: center;}

    #hero-1 > section > section > section:first-child,
    #hero-2 > section > section > section:last-child { width:100%;padding:3% 1%; }

    #hero-1 > section > section > section:last-child,
    #hero-2 > section > section > section:first-child { width:0%; }

    #hero-1 > section,
    #hero-2 > section { height:50vh;}

    .rectangle { height:50vh; }
}

@media screen and ( max-width:600px )
{
    #hero-1 > section,
    #hero-2 > section,
    .rectangle { height:40vh; }
}

@media screen and ( max-width:400px ) 
{
    .rectangle { width:100px; }
}

/* footer */

@media screen and ( max-width:1300px )
{
    footer > section > article:nth-child(1) { width:20%; }
    footer > section > article:nth-child(2) { width:50%; }
    footer > section > article:nth-child(3) { width:10%; }
    footer > section > article:nth-child(4) { width:20%; }

}

@media screen and ( max-width:1130px )
{
    footer > section > article:nth-child(1) { width:100%; }
    footer > section > article:nth-child(2) { width:100%; }
    footer > section > article:nth-child(3) { width:40%; }
    footer > section > article:nth-child(4) { width:60%; }
}

@media screen and ( max-width:900px ) 
{
    #footer-legal { flex-direction: column-reverse; }
    #footer-legal > section { margin-bottom:20px; }
}

@media screen and ( max-width:500px )
{
    footer > section > article:nth-child(3) { width:100%; }
    footer > section > article:nth-child(4) { width:100%; }

    footer > section > article:nth-child(2) > div { width:100%; }

    footer > section > article:nth-child(3)  
    {
        display: flex;
        justify-content: flex-start; 
    }
}


/* prices */
@media screen and ( max-width:1200px )
{
    #prices > section { width:90%; }
}

@media screen and ( max-width:1000px )
{
    #prices > section { width:100%; }
    #prices > header { margin-top:100px;}
}


@media screen and ( max-width:800px )
{
    #prices > section { flex-wrap: wrap; }
    #prices > section > section { width:70%; }
}

@media screen and ( max-width:600px )
{
    #prices > section > section { width:100%;}

    #prices > header > .f-1 { font-size:45px; }
    #prices > header > .f-5 { line-height:20px; }

    #prices > section > section > article > article > .f-1 { font-size:45px; } 
    #prices > section > section > article > article > .f-4 { font-size:24px; } 
}

@media screen and ( max-width:400px )
{
    
    #prices > section > section { padding:0px;margin-bottom:50px; }

    #prices > section > section  > article { padding:50px 10px; }
}

/* our-products */

@media screen and ( max-width:1200px )
{
    #our-products > section > section { width:33.33%; }
}

@media screen and ( max-width:1000px )
{
    #our-products > section > section { width:50%; }
}

@media screen and ( max-width:700px )
{
    #our-products > section > section { width:80%; }
}

@media screen and ( max-width:500px )
{
    #our-products > section > section { width:100%; }
}


/* mockup videos */
@media screen and ( max-width:1000px )
{
    #mockups { height:100vh; padding:450px 0px; }
}


@media screen and ( max-width:800px )
{
    #prev-mockup-video { left:-45px; }
    #next-mockup-video { right:-45px; }

    #prev-mockup-video > img,
    #next-mockup-video > img,
    .bx-btn-play { margin:0px; }
}

@media screen and ( max-width:600px )
{
    #mockups > header { width:80%; }
}


 

