/* all */

@media screen and ( max-width: 1728px )
{

    /* infinite-slide */

    #infinite-slide { height:800px; padding:150px 0px; }

    /* mockups videos */
    
    #bx-mockups-deslice { height:60vh; }

    #mockups { height:70vh; padding:30% 0px; }

    

    /* complementary */

    #complementary > article > ul > li > p { padding-top:0px; }
    #complementary > article > ul > li > div { height:260px; }

    /* heros */

    .rectangle { height:450px; }

    #hero-1 > section,
    #hero-2 > section { height:450px; }

    /* flat heros */

    #flat-hero-1 { height:900px; }
    
    /* previews */

    .slide-previews { width:1728px; height:100vh; }

    .card-think-about { bottom:-40px; }

    /* complements */

    #complements { height:1000px;padding:150px 0px; }

    #bx-displace-complementary > li > div { height:230px; }
}

@media screen and ( max-width: 1440px ) 
{

    /* mockups videos */

    #mockups { height:70vh; padding:40% 0px; }
}

@media screen and ( max-width: 1000px ) 
{
    #mockups { height:100vh; padding:450px 0px; }
}

/* fonts size pos 600px */

@media screen and ( max-width: 600px ) 
{
    .f-1 { font-size:26px; line-height:36px }
    .f-2 { font-size:20px; line-height:36px }
    .f-3 { font-size:18px; line-height:36px }
    .f-4 { font-size:15px; line-height:36px }
    .f-5 { font-size:.9rem; line-height:28px }
}

@media screen and ( max-width: 1050px )
{
    #infinite-slide { height:auto !important; }
    .bx-slide-infinite { height:230px !important; }
}





/* complementary */

@media screen and ( max-width: 1200px )
{
    #complementary > article > ul > li:first-of-type { padding:0px;width:90%;text-align: center;}    

    #complementary > article > ul > li { width:50%;}

    #bx-displace-complementary  { justify-content: center; }

    #complements > article > ul > li:first-child 
    {
        width:100%;
        padding:20px;
        text-align: center;
    }

    #complements > article > ul > li { width:50%; }
}

@media screen and ( max-width: 1000px )
{
    #complements { height:auto;padding:150px 0px; }
}

@media screen and ( max-width: 820px )
{
    #bx-displace-complementary > li { padding:20px; }

    #complementary > article { width:90%; }
}

@media screen and ( max-width: 750px )
{
    #complementary > article { width:100%; }
    #complements > article > ul > li { width:90%; }
}

@media screen and ( max-width: 600px )
{

    #complementary > article { width:60%;padding:0px; }

    .box-imgs-complements { width:80%;}

    #bx-displace-complementary { padding:0px; }

    #complements { padding:50px 0px; }

    #complements > #btns-complementary { display:none; }

    #complements > article { width:90%;padding:0px; }

    #complements > article > ul { padding:0px; }

    .f-26 { font-size:20px; }

    .box-thinks-products > h1 { font-size:35px;}


    #complementary > article > #bx-displace-complementary > li:first-of-type { display:none; }

    #btns-complementary > .btn-slide-apps { margin:0px 5px; }


    #btns-complementary > .btn-slide-apps > img { margin:auto; }


    #complementary > article > ul > li:first-of-type { width:28%; align-self: flex-start; display: flex;}

    #complementary > article > ul 
    { 
        width:600%; 
        height:auto; 
        margin-left:0%;
        flex-wrap: nowrap;
    }

    #complementary > article > ul > li { width:25%; }

    #btns-complementary { display:flex; } 

    #complementary > article > #bx-displace-complementary > li > article:last-child 
    { 
        width:80%;
        text-align: justify; 
    }
}

@media screen and ( max-width: 500px ) 
{
    
    #complementary > article { width:80%; }
}

@media screen and ( max-width: 450px ) 
{
    #btns-complementary > button { width:50px;height:50px; }
    #btns-complementary > button > img { width:18px;height:18px; }

    #btns-complementary { margin-top:100px; height:0px;}

    #btns-complementary > .btn-slide-apps { margin:0px 5px; }

    .box-thinks-products,
    .img-prouct { width:150px; height:150px; }

    .box-imgs-complements { height:200px; }

    .box-thinks-products > .f-2 { font-size:24px; line-height:24px; }
}




/* apps */

@media screen and ( max-width: 1300px ) 
{
    .boxis { min-width:20% !important; }
    .img-apps-radius { width:100%;}

    #btns-apps { 
        bottom:80px;
        justify-content: center;
    }
    

    #btns-apps > button > img { width:25px; }
}

@media screen and ( max-width: 600px ) 
{
    #apps-radius > header { width:90%;padding:1%; }
    #btns-apps { bottom:50px; }
    .boxis { min-width:34% !important; }
}

@media screen and ( max-width:400px ) 
{
    .boxis { min-width:50% !important; }
}



/* gadgets */

@media screen and ( max-width: 1000px ) 
{
    #gadgets > article > ul > li > div > div,
    #gadgets-white > article > ul > li > div > div { width:50%; }
}

@media screen and ( max-width: 900px ) 
{
    #gadgets > article > ul > li > div > div,
    #gadgets-white > article > ul > li > div > div { width:50%; }

    #gadgets > article > ul > li,
    #gadgets-white > article > ul > li { padding:0px; }
}

@media screen and ( max-width: 800px ) 
{
    #gadgets > article > ul > li > div > div,
    #gadgets-white > article > ul > li > div > div { width:30%; }

    #gadgets > article > ul > li,
    #gadgets-white > article > ul > li { width:100%; }

    #gadgets > article > ul > li > div,
    #gadgets-white > article > ul > li > div { margin:auto; display:block; }

    #gadgets > article > ul > li > div > div,
    #gadgets-white > article > ul > li > div > div, 
    img { 
        margin:auto;
        display:block;
        margin-bottom:15px; 
    }

    #gadgets > article > ul > li > div > h5 ,
    #gadgets-white > article > ul > li > div > h5 ,
    #gadgets > article > ul > li > div > p,
    #gadgets-white > article > ul > li > div > p { text-align: center; }
}

@media screen and ( max-width: 600px ) 
{
    .img-md { width:70%; }

    #gadgets > article > ul > li,
    #gadgets-white > article > ul > li { padding:0px; }
    #gadgets > article,
    #gadgets-white > article  { padding:30px 0px; width:100%;  }
}

/* customers */


@media screen and ( max-width: 1000px ) 
{
    #customers > header { width:70%; } 
    #customers > article > ul > li { width:33.33%; }
}

@media screen and ( max-width: 500px ) 
{
    #customers > header { width:90%; }
    #customers > article > ul > li { width:50%; }
}



/* benefits */

@media screen and ( max-width: 1000px ) 
{

    #benefits > section { width:80%;}
    #benefits > section > section { padding:0px; } 
    #benefits > section > section:first-child { width:40%; }
    #benefits > section > section:last-child { width:60%; } 
}

@media screen and ( max-width: 900px ) 
{
    #benefits { height:auto;padding:50px 0px; }
    #benefits > section { flex-direction: column-reverse;width:90%; }
    #benefits > section { flex-wrap: wrap;}
    
    #benefits > section > section:last-child { width:100%; }

    #benefits > section > section:first-child { width:70%; }

    #benefits > section > section:last-child > header,
    #benefits > section > section:last-child > article { width:100%; }
}

@media screen and ( max-width: 600px )
{
    #benefits > section > section:first-child { margin-top:20px;width:100%; }
    #benefits > section:last-child > article > button { width:100%; }
} 

/* video */

@media screen and ( max-width:800px )
{
    .video:first-of-type { height:auto; }
}

@media screen and ( max-width:600px ) 
{
    #video > section > ul  
    {
        width:100%;
        margin:auto;
        flex-wrap: wrap;
    }

    #video > section > ul > li 
    { 
        text-align: center;
        margin-bottom:25px; 
        width:50%;
    }
}

/* cite */


@media screen and ( max-width:800px ) 
{
    #cite > section > article { width:90%; }

    #cite > section > article > .f-3 { font-size:1.5rem; }
}

@media screen and ( max-width:600px ) 
{
    #cite > section > article { width:90%;padding:10px; }

    #cite > section > article > .f-3 { font-size:1.2rem; }

    #cite > section > article p:first-of-type { text-align: justify;}
}

@media screen and ( max-width:350px ) 
{
    #cite > section > article { padding:15px; }
    #cite > section > article > .f-3 { font-size:1rem; line-height:20px; }
}

/* together */

@media screen and ( max-width:1300px ) 
{
    #together { justify-content: flex-end; }
}

@media screen and ( max-width:800px ) 
{
    #together { justify-content: center; }
    #together > .revol-banner { opacity:.6; z-index:2; }
    #together > article { width:100%; position:relative; z-index:5; }
}

@media screen and ( max-width:410px ) 
{
    .revol-banner 
    { 
        font-size:100px;
        text-align: center;
        letter-spacing:0px;
        left:5%; 
    }

    .revol-banner:nth-child(1) { margin-bottom:160px; }
    .revol-banner:nth-child(3) { margin-top:160px; }
}



/* razons  */

@media screen and ( max-width:1200px )
{

    #razons >  header { width:80%; }

    #razons > section > article:nth-child(1) > img { width:50%; }

    #razons > section > article:nth-child(1) 
    { 
        min-width:450px;
        width:40%;
    }

    #razons > section > article:nth-child(2) 
    { 
        width:70%;
        padding:80px 25px;
        text-align: justify; 
    }

    #razons > section > article:nth-child(3) { padding:0px 25px; width:70%; }

    #box-btns-razons { min-width:450px;top:300px; }

    #box-btns-razons { width:60%; margin-top:0px; }
}

@media screen and ( max-width:600px ) 
{

   .razons > article > ul > li { font-size:16px; }

    #razons > section > article:nth-child(1) 
    { 
        width:80%;
        min-width:200px;  
    }

    #razons > section > article:nth-child(2) 
    { 
        width:80%; 
        padding:30px 0px; 
    }
    
    /* #razons > section > article:nth-child(2) > p { text-align: justify; } */

    #razons > section > article:nth-child(3) 
    { 
        width:80%; 
        padding:30px 0px; 
    }

    

    #box-btns-razons 
    { 
        margin-top:-50px;
        width:80%;
        min-width:350px; 
    }

    #box-btns-razons > ul > li 
    { 
        width:50px;
        height:50px;
    } 
    #box-btns-razons > ul > li > img 
    { 
        width:35px;
        display:block;
        margin:auto; 
    } 

    .razons > article > p ,
    .razons > article > h4,
    .razons > article > h6, 
    .razons > article > ul { list-style: none; }
    .razons > article > ul > li { padding:5px 0px; }

    .razons > article:nth-child(1) > div:first-of-type > h4 { line-height:18px; }

    .razons > article:nth-child(1) > div > img { width:50%; }

    .razons > article { padding:0px 0px; }
}





/* flat heros */

@media screen and ( max-width:1300px )
{
    #flat-hero-1 > section,
    #flat-hero-2 > section,
    #flat-hero-3 > section { width:90%;}
   
    #flat-hero-1 > section > article,
    #flat-hero-2 > section > article,
    #flat-hero-3 > section > article { padding:0px 20px;width:50%; }
}

@media screen and ( max-width:1000px ) {

    


    #flat-hero-1 > section > article:last-child { justify-content: flex-end; }

    #flat-hero-1 > section > article > button,
    #flat-hero-2 > section > article > button,
    #flat-hero-3 > section > article > button { width:100%; } 
}


@media screen and ( max-width:850px )
{

    #flat-hero-1 > section > article:first-child ,
    #flat-hero-2 > section > article:last-child,
    #flat-hero-3 > section > article:last-child { width:100%; }

    #flat-hero-1 > section > article:last-child,
    #flat-hero-2 > section > article:first-child,
    #flat-hero-3 > section > article:first-child { display:none; }

    #flat-hero-1 > section > article,
    #flat-hero-2 > section > article,
    #flat-hero-3 > section > article { padding:0px;}

    #flat-hero-1,
    #flat-hero-2,
    #flat-hero-3 { height:70vh; }

}

/* footer */

@media screen and ( max-width:1300px )
{
    footer > section > article:nth-child(1) { width:20%; }
    footer > section > article:nth-child(2) { width:50%; }
    footer > section > article:nth-child(3) { width:10%; }
    footer > section > article:nth-child(4) { width:20%; }

}

@media screen and ( max-width:1130px )
{
    footer > section > article:nth-child(1) { width:100%; }
    footer > section > article:nth-child(2) { width:100%; }
    footer > section > article:nth-child(3) { width:40%; }
    footer > section > article:nth-child(4) { width:60%; }
}

@media screen and ( max-width:900px ) 
{
    #footer-legal { flex-direction: column-reverse; }
    #footer-legal > section { margin-bottom:20px; }
}

@media screen and ( max-width:500px )
{
    footer > section > article:nth-child(3) { width:100%; }
    footer > section > article:nth-child(4) { width:100%; }

    footer > section > article:nth-child(2) > div { width:100%; }

    footer > section > article:nth-child(3)  
    {
        display: flex;
        justify-content: flex-start; 
    }
}




/* our-products */

@media screen and ( max-width:1200px )
{
    #our-products > section > section { width:33.33%; }
}

@media screen and ( max-width:1000px )
{
    #our-products > section > section { width:50%; }
}

@media screen and ( max-width:700px )
{
    #our-products > section > section { width:80%; }
}

@media screen and ( max-width:500px )
{
    #our-products > section > section { width:100%; }
}


/* mockup videos */
@media screen and ( max-width:1000px )
{
    #mockups { height:100vh; padding:450px 0px; }
}


@media screen and ( max-width:800px )
{
    #prev-mockup-video { left:-45px; }
    #next-mockup-video { right:-45px; }

    #prev-mockup-video > img,
    #next-mockup-video > img,
    .bx-btn-play { margin:0px; }
}

@media screen and ( max-width:600px )
{
    #mockups > header { width:80%; }
}


 

