/* infinite-slide */

#infinite-slide > header 
{ 
    display:flex;
    margin:auto;
}

#bx-content-animation { display: flex; }

#bx-slide-infinite 
{
    min-width:1920px;
    height:50vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    animation:slideshow 8s linear infinite;
}

.img-radius-integrations 
{ 
    width:210px;
    height:210px;
}

@keyframes slideshow 
{
    0% { transform: translate(0); }
    100% { transform: translate(-100%); }
} 

.badge-integrations 
{
    width:263px;
    height:39px;
    padding:8px 25px;
    border-radius:5px;
    font-family: 'think-light';
    font-size:22px;
}


/* apps-radius */

#apps-radius > article 
{
    display: flex;
    width:80%;
    flex-wrap:nowrap;
    overflow:hidden;

}

#btns-apps 
{
    width:100%;
    display: flex;
    position:absolute;
    margin-top:14%;
    justify-content: space-between;
}

#btns-apps > button 
{
    cursor:pointer;
    border:none;
    border-radius:50%;
    width:50px;
    height:50px;
    margin:0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#apps-radius > article  > div { min-width:245px; }

.boxis { transition:.4s; }


/* slide */

#slide {
    height:100vh; 
    overflow:hidden;
    position:relative;
}

.img-slide { 
    width:100%;
    height:100vh;
}

#gradient {
    height:100vh;
    width:100%;
    position: absolute;
    z-index:2;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 9%, rgba(2,0,36,0) 77%);
}

#slide > section {
    position: absolute;
    z-index:20;
    bottom:5%;
    left:5%;
}

#slide > section > article { 
    position: relative; 
    z-index:10; 
}


/* gadgets */

.img-md { width:62.99px; }



#gadgets > article > ul { list-style: none; }

#gadgets > article > ul > li > div 
{ 
    display:flex;
    align-items:flex-start; 
    flex-direction: column; 
}


/* customers */


#customers > article > ul { list-style: none; }

#customers > article > ul > li { margin-top:50px; }

#customers > article > button 
{
    font-family: "think-bold";
    margin-top:50px;
    width:252px;
    height:60px;
    color:#FFFFFF;
}

/* integrations */

#integrations > section 
{
    display:flex;
    justify-content: space-between;
}

#integrations > section > article:first-of-type > a > button
{
    width:252px;
    height:60px;
    font-size:18px;
}

#integrations > section > article:first-of-type { min-width:450px; }
#integrations > section > article:last-child { min-width:550px; }

.integrations,.circle { position:absolute; }
.integrations:nth-child(1) { top:190px; } /* mp */
.integrations:nth-child(2) { right:20px; bottom:120px; } /* uber */
.integrations:nth-child(3) { right:20px; top:110px; } /* Pedidos ya */
.integrations:nth-child(4) { bottom:45px; left:150px; } /* rapi */

.circle { border-radius:50%; }

.c-yellow {
    width:95px;
    height:95px; 
    top:15%;
    left:30%;
}
.lila 
{ 
    width:39px;
    height:39px; 
    background-color:#7A42EB;
    bottom:270px;
    right:20px;
}

.green 
{
    width:65px;
    height:65px;
    background-color:#00E6C9;
    bottom:155px;
    left:80px;
}

/* novelties */

#novelties > section 
{
    min-height:400px;
    display:flex;
    justify-content: center;
    align-items: center;  
} 

#novelties > section > article:first-of-type 
{
    position:relative;
    z-index:3;
}

#novelties > section > article:first-of-type { min-width:680px;}

#novelties > section > article:first-of-type > div > .f-1 { padding-bottom:0px; }

#novelties > section > article:first-of-type > div > .f-1,
#novelties > section > article:first-of-type > div > .f-5 { padding-left:60px; }

.vector-Think {
    left:-20px;
    top:80px;
    width:78px;
}

.more-shadow 
{
    position:absolute;
    z-index:1;
    left:0px;
    top:35px;
    width:138px;
}

/* form */

#bx-subscribe
{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#bx-subscribe > input 
{
    width:300px;
    height:60px;
    background-color:transparent;
    border:1px solid white;
    padding-left:25px;
}

#bx-subscribe > button 
{
    width:155px;
    height:60px;
}

/* together */

#together > article { height:400px; }

.revol-banner {
    position:absolute;
    z-index:2;
    left:5%;
    z-index:20;
    font-size:125.75px;
    color:#FFFFFF;
    letter-spacing:-5px;
}

.revol-banner:nth-child(1) { margin-bottom:200px; }
.revol-banner:nth-child(3) { margin-top:200px; }

/* cite */

#cite > section { height:auto; }

/* previews */

#previews { width:100%; }

.slide-previews { width:1728px; height:120vh; }

#bx-btns-previews > button > img { display:block; margin: auto; }


.slide-previews { display:none; } 
.slide-previews:first-of-type { display:flex; }

#previews > section > button { background-color:rgba(255,255,255,.6); }
#previews > section > button:active { background-color: #7A42EB; } 

#bx-btns-previews
{
    display: flex;
    margin:auto;
    top:0px;
    bottom:0px;
    position: absolute;
    width:100%;
    height:60px;
    z-index:50;
    justify-content: space-between;
}

.card-think-about
{
    padding:35px 50px;
    width:544px;
    line-height: 30px;
    bottom:-200px;
    left:10%;
    position:absolute;
    z-index:50;
    display: none;
}

.card-think-about:first-of-type { display:flex; }

.card-think-about > p > a,
.card-think-about > p > span 
{
    text-align: left;
    display:block; 
    text-decoration: none; 
    margin-top:10px;
}

#bx-arrows-thinks-reviews 
{
    position:absolute;
    top:15px;
    left:0px;
    width:100px;
    height:100px;
}

#bx-arrows-thinks-reviews > img { position:absolute; }

#bx-arrows-thinks-reviews > img:first-of-type 
{
    width:40px;
    left:-10px;
    top:15px;
    z-index:5;
}

#bx-arrows-thinks-reviews > img:last-child
{
    width:72px;
    left:-18px;
    top:-7px;
    z-index:50;
}

/* hero-1 */

.rectangle 
{
    width:200px;
    height:70vh;
    z-index:1;
    position:absolute;
    
}

#hero-1 > section > section:last-child,
#hero-2 > section:last-child > section { justify-content:space-between; } 

#hero-1 > section:last-child > section > section:first-child > button,
#hero-2 > section:last-child > section > section:last-child > button 
{
    width:252px;
    height:60px; 
    margin-top:50px; 
}

#hero-1 > section > .rectangle { right:0px; }
#hero-2 > section > .rectangle { left:0px; }

#hero-1 > section,
#hero-2 > section 
{
    height:70vh;
    width:100%;
    display:flex;
    justify-content: center;
}

/* cajas de texo */
#hero-1 > section > section > section:first-child,
#hero-2 > section > section > section:last-child { position: relative; z-index:5; }

/* alineacion para la primer caja principal */
#hero-1 > section:first-child,
#hero-2 > section:first-child { align-items: flex-end; }

/* alineacion para la ultima caja principal */
#hero-1 > section:last-child,
#hero-2 > section:last-child { align-items: flex-start; }

#hero-1 > section:last-child > section > section:last-child,
#hero-2 > section:last-child > section > section:first-child
{
    display:flex;
    justify-content: center; 
}

#hero-2  > section:first-of-type > section 
{
    display: flex;
    justify-content: space-between;
}

.mockup 
{
    border-radius:50px;
    width:267px;
    height:475px;
    overflow:hidden;
    box-shadow:0px 0px 35px rgba(0,0,0,.7);
}

.inner-mockup 
{
    width:238px;
    height:445px;
    background-color:#FFFFFF;
    margin:15px;
    border-radius:36px;
    position: absolute;
    overflow: hidden;
}

.mockup-image { width:247px; height:455px; }

#mockup-01,
#mockup-02
{
    position:absolute;
    z-index:5;
}

#mockup-01,
#mockup-02 { bottom:200px; }



/* flat-heros */

#flat-hero-1 > section,
#flat-hero-2 > section,
#flat-hero-3 > section { justify-content: space-between; }

/* complementary */



#bx-displace-complementary 
{
    display:flex;
    justify-self: flex-start;
}

#complementary > article > ul {}


#complementary > article > ul { list-style:none; }

#complementary > article > ul > li > a { text-decoration: none; }
#complementary > article > ul > li > a:hover { color:red; }

.box-thinks-products 
{
    width:194px;
    height:194px;
    border-radius:30px;
    background-color:#F6F6F6;
    position:absolute;
    box-shadow:0px 15px 15px rgba(0,0,0,.1);
    z-index:30;
}

.img-prouct 
{
    width:194px;
    height:194px;
    border-radius:30px;
    position:absolute;
    right:0px;
}

#bx-displace-complementary
{
    transition:.4s;
}

#btns-complementary 
{
    width:100%;
    height:60px;
    display:flex;
    position: absolute;
    z-index:40;
    justify-content:space-between;
}

.btn-slide-apps 
{
    border-radius:50%;
    border:none;
    width:69px;
    height:69px;
    margin:0px 50px;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}

#btns-complementary { display:none; }

.btn-slide-apps:active { background-color:#7A42EB; }

/* apps */

::-webkit-scrollbar {
    display: none;
}

#box-scroll 
{
    overflow-x:auto;
    width:90%;
    display: flex;
    flex-wrap: nowrap;
    transition:.4s;

    transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    -o-transition:.4s;
}

#apps > section 
{
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:150px 0px;
    overflow: hidden;
}

.img-apps 
{ 
    width:200px;
    transition:.2s; 
}



#apps > section > section 
{
    width:100%;
    position:absolute;
    z-index:20;
    /* display: flex; */
    /* justify-content: space-around; */
}

#apps > section > section > button { 
    
    border-radius:50%;
    padding:10px;
    width:50px;
    height:50px;
    border:none;
    position:relative; 
    cursor:pointer;
}

#apps > section > section > button:first-child,
#apps > section > section > button:last-child { position:absolute; }

#apps > section > section > button:first-child { left:20px; }
#apps > section > section > button:last-child { right:20px; }

.gdnt-right 
{ 
    width:300px;
    height:100vh;
    position: absolute;
    right:0px;
    top:0px;    
    box-shadow:inset -150px 0px 50px #FFF;

}

.gdnt-left 
{ 
    width:300px;
    height:100vh;
    position: absolute;
    left:0px;
    top:0px;    
    box-shadow:inset 150px 0px 50px #FFF;

}



/* video */

#video {
    background-color:#000000;
}

.video { 
    width:100%;
    border-radius:15px; 
    display:none;
    overflow:hidden;
}

.video:first-of-type 
{ 
    display: flex;
    height:80vh;
}

#video > section > ul 
{ 
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}

#video > section > ul > li 
{
    cursor: pointer;
    color:#7A42EB;
}

#video > section > ul > li:hover { color:#FFFFFF; }

/* screen */

#circle-screens 
{
    width:400px;
    height:400px;
    border-radius:50%;
    background-color:#D5F901;
    position:absolute;
    top:100px;
    z-index:-1;
}

#screens > article  
{  
    display:flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    max-width:1200px;
    overflow: hidden;
}

#screens > article > .mockup 
{
    min-width:300px;
    margin:0px 50px;
    background-color:#FFFFFF;
}

/* razons */

.img-razons { width:220.68px; }

#razons 
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10% 0px;
}

.razons > article:first-of-type { margin-top:-40px;}

#razons > section:first-of-type { display:flex; }

#razons > section 
{
    flex-wrap:wrap; 
    display:none; 
}

.razons 
{ 
    display:flex; 
    justify-content: center;
    margin-top:80px; 
}

.razons  > article { padding-top:10px; }
                    
.razons  > article > ul > li:first-child { margin-top:28px; }
.razons  > article > ul > li { margin:8px 0px; font-size: 18px; }

#box-btns-razons 
{
    position:absolute;
    left:0px;
    right:0px;
    margin:auto;
    width:37%;
    bottom:40px;
}

#box-btns-razons > ul 
{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}

.btns-razons 
{
    border-radius:50%;
    width:80px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.razons > article > ul { list-style: none; }
.razons > article > ul > li { display: flex; font-family: 'think-bold';}

.btns-razons:first-child { background-color:#FFF; }

/* benefits */

#benefits > section > section:first-child > img { width:100%; }

#benefits > section > section > article > ul 
{ 
    list-style: none;
    margin-left:-12px; 
}

#benefits > section > section > article > ul > li
{
    display:flex;
    margin:12px 0px -5px 10px;
    font-family:'think-bold';
    font-size:18px;
} 

#benefits > section > section > header > .f-1 { line-height: 65px; }

.list 
{
    width:10px;
    height:10px;
    border-radius:50%;
    margin:5px 10px 0px 0px;
    background-color:#7A42EB;
}

#benefits > section > section > article > button { width:252px; height: 60px; font-size:18px; }


/* footer */

footer 
{ 
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:3% 0px;
}

footer > section { flex-wrap:wrap; }

.arrow-logo { margin-top:7px; }



footer > section:first-child { margin-bottom:50px; }

footer > section > article:nth-child(2) > div > ul { list-style: none; }
footer > section > article:nth-child(2) > div > p > span { font-family:'think-light';color:#898989; }
.footer-links
{ 
    font-family:'think-light';
    padding:3px 0px; 
    font-size:.9rem;
    display: flex;
    justify-content: flex-start;

}

.footer-links > div > a { color:#FFFFFF; text-decoration:none; }

footer > section > article > h6 { font-family:'think-light';color:#898989; }
footer > section > article > h6 > span { font-weight:bold; }

footer > section > article:nth-child(3) > ul > li > a { color:#FFFFFF;text-decoration:none; }
footer > section > article:nth-child(3) > ul > li 
{
    list-style:none;
    padding:5px 0px;
    font-size:bold; 
}

footer > section > article:nth-child(4) > p { color:#898989; font-family:'think-light'; }
footer > section > article:nth-child(4) > small { color:#898989; }

footer > section > article > button { width:100% !important;color:#FFFFFF; }


#footer-legal 
{
    display: flex;
    justify-content: space-between;
}

.s-network-social
{
    border-radius:50%;
    padding:5px;
    margin:0px 5px;
    cursor:pointer;
    transition:.4s;
}

.s-network-social:hover { background-color:#7A42EB; }


/* prices */


/* our-products */

#our-products > section > section > section 
{
    cursor:pointer;
    transition:.4s;
}

#our-products > section > section > section:hover 
{ 
    box-shadow:0px 0px 25px rgba(0,0,0,.3);
    width:100%;
}

/* mockups */

#bx-mockup 
{
    margin-top:-25px;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    position: relative;

}

#bx-mockups-deslice
{
    width:100%;
    height:100vh;
    min-width:1536px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    transition:.2s;
}

.bx-mockups-videos 
{
    min-width:267px;
    width:267px;
    height:475px;
    margin:0px 37.5px;
    padding:15px;
    background-color:#FFFFFF;
    border-radius:50px;
    overflow:hidden;
    box-shadow:0px 0px 35px rgba(0,0,0,.3);
}

.box-inner-mockup-video 
{
    border-radius:40px;
    width:237px;
    height:445px;
    background-color:#FFFFFF;
    overflow:hidden;
    
}

#circle-mockups 
{
    width:385px;
    height:385px;
    border-radius:50%;
    position:absolute;
    z-index:-1;
    align-self: center;
}

/* mockups videos - btns */

#btns-mockups 
{
    border:1px solid black;
    position: absolute;
    z-index:50;
    width:100%;
    display:flex;
    justify-content:space-between;
}

#prev-mockup-video { left:0px; }
#next-mockup-video { right:0px;}

#next-mockup-video,
#prev-mockup-video
{
    display:flex;
    position:absolute;
    z-index:100;
    align-self:center;
}

.bx-btn-play 
{

    width:89%;
    height:300px;
    position: absolute;
    z-index:50;
    display: flex;
    margin:auto;
    top:0px;
    bottom:0px;
    justify-self:center ;
    align-self: center;
    justify-content: center;
    align-items: center;
    opacity:0;
    transition:.2s;
}

.bx-btn-play:hover { opacity:1; }

.btn-play,
.btn-pause 
{ 
    cursor:pointer;
    opacity:.7;
    width:80px;
    height:80px;
}

.btn-pause { display:none; }

.btn-pause:hover { opacity:1; }
.btn-play:hover { opacity:1; }

/* mockup - video */

.video-mockup { margin:-150px 0px 0px -350px; }
