
#slide {
    height:100vh; 
    overflow:hidden;
    position:relative;
}

.bg-image-home { background-image: url('./../../imagenes/home/hero.jpg'); }
.bg-image-products { background-image: url('./../../imagenes/products/hero.jpg'); }
.bg-image-us { background-image: url('./../../imagenes/us/hero.jpg'); }
.bg-image-reports { background-image: url('./../../imagenes/reports/hero.jpg'); }
.bg-image-customers { background-image: url('./../../imagenes/customers/hero.jpg'); }
.bg-image-booking { background-image: url('./../../imagenes/booking/hero.jpg'); }
.bg-image-pack-digital { background-image: url('./../../imagenes/digital-pack/hero.jpg'); }
.bg-image-ecommerce { background-image: url('./../../imagenes/ecommerce/hero.jpg'); }
.bg-image-admin { background-image: url('./../../imagenes/management-administration/hero.jpg'); }
.bg-image-app-shell { background-image: url('./../../imagenes/app-shell/hero.jpg'); }
.bg-image-work { background-image: url('./../../imagenes/how-does-it-work/hero.jpg'); }

.bg-image-home,
.bg-image-products,
.bg-image-us,
.bg-image-reports,
.bg-image-booking,
.bg-image-pack-digital,
.bg-image-ecommerce,
.bg-image-admin,
.bg-image-app-shell,
.bg-image-work,
.bg-image-customers
{
    background-size: cover;
    background-repeat: no-repeat;
}


#gradient {
    height:100vh;
    width:100%;
    position: absolute;
    z-index:2;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(2,0,36,0) 40%);
}

#slide > section {
    position: absolute;
    z-index:20;
    bottom:5%;
    left:5%;
}

#slide > section > article { 
    position: relative; 
    z-index:10; 
}

@media screen and ( max-width: 1440px ) 
{
    #slide > section > article { width:60%; min-width:680px; }
}

@media screen and ( max-width: 1030px )
{
    /* #slide { height:100vh; } */

    .bg-image-home,
    .bg-image-products,
    .bg-image-us,
    .bg-image-reports,
    .bg-image-booking,
    .bg-image-ecommerce,
    .bg-image-admin,
    .bg-image-app-shell,
    .bg-image-work,
    .bg-image-customers
    {
        background-size:1000px auto;
    }

    .bg-image-reports { background-position-x: center; }

    .bg-image-work { background-position-x:center; }
   
    #gradient 
    {
        height:150vh;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 80%);
    }
}

@media screen and ( width:1024px ) and ( height:600px )
{
    #gradient { height:50vh;bottom:0px;  }
}

@media screen and ( max-width: 800px )
{
    #slide > section > article { width:100% !important; min-width:20px; padding:1%; }
}

@media screen and ( max-width: 600px )
{

    .bg-image-home,
    .bg-image-products,
    .bg-image-reports,
    .bg-image-pack-digital,
    .bg-image-ecommerce,
    .bg-image-admin,
    .bg-image-app-shell,
    .bg-image-us,
    .bg-image-customers { background-size:900px auto; }

    .bg-image-booking,
    .bg-image-pack-digital,
    .bg-image-ecommerce,
    .bg-image-admin,
    .bg-image-us,
    .bg-image-customers { background-position-x: center; }

    .bg-image-work { background-size:800px auto; }

    #gradient {
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 80%);
    }

    #slide > section > article { width:100%; padding:4%; }

    #slide > section > article > .f-5,
    #slide > section > article > .btn { font-family:'think-bold'; }

    #slide > section > article > .btn { font-size:18px; }

    #slide > section  { padding:0px;padding:0px 3%; }

    #gradient,
    #slide { height:100vh; } 
}


@media screen and ( max-width: 450px )
{
    #slide > section > article { padding:5px; }

    #gradient { height:100vh; }
    #slide { height:100vh; } 

    .bg-image-admin ,
    .bg-image-app-shell,
    .bg-image-us
    {
        background-size: 690px auto;
    }

    .bg-image-us { background-position-x: center; }
    .bg-image-work { background-position-x: right; }
     
}

@media screen and ( max-width: 420px )
{
    .bg-image-home,
    .bg-image-products,
    .bg-image-reports,
    .bg-image-us,
    .bg-image-work,
    .bg-image-app-shell,
    .bg-image-admin,
    .bg-image-ecommerce,
    .bg-image-pack-digital,
    .bg-image-booking
    {
        background-size:900px auto;
        /* background-position-x: center; */
    }

    #gradient 
    { 
        height:100vh;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 45%, rgba(0,0,0,0) 70%); 
    }
}

@media screen and ( max-width: 376px ) 
{ 
    .bg-image-us 
    { 
        background-size:700px auto;
        background-position-x:60%; 
    }
}

@media screen and ( max-width: 350px ) 
{ 
    .cont-full { min-width:0px; }
}

/* Tablets */


@media screen and ( width: 820px )  and ( height:1180px ) {
    
    .bg-image-home,
    .bg-image-products,
    .bg-image-us,
    .bg-image-reports,
    .bg-image-customers,
    .bg-image-work,
    .bg-image-app-shell,
    .bg-image-admin,
    .bg-image-ecommerce,
    .bg-image-pack-digital,
    .bg-image-booking
    {
        background-size:1920px auto;
    }

    .bg-image-customers ,
    .bg-image-ecommerce,
    .bg-image-pack-digital,
    .bg-image-booking,
    .bg-image-admin{ background-position-x: center; }
}

@media screen and ( width: 768px )  and ( height:1024px ) {
    
    .bg-image-home,
    .bg-image-products,
    .bg-image-us,
    .bg-image-reports,
    .bg-image-customers,
    .bg-image-work,
    .bg-image-app-shell,
    .bg-image-admin,
    .bg-image-ecommerce,
    .bg-image-pack-digital,
    .bg-image-booking
    {
        background-size:1100px auto;
        /* background-position-x: center; */
    }
}

@media screen and ( width: 912px )  and ( height:1368px ) 
{    
    .bg-image-home,
    .bg-image-products,
    .bg-image-us,
    .bg-image-reports,
    .bg-image-customers,
    .bg-image-work,
    .bg-image-app-shell,
    .bg-image-admin,
    .bg-image-ecommerce,
    .bg-image-pack-digital,
    .bg-image-booking
    {
        background-size:1920px auto;
    }

    .bg-image-admin,
    .bg-image-pack-digital,
    .bg-image-booking,
    .bg-image-ecommerce{ background-position-x: center; }
}

@media screen and ( max-width: 300px ) 
{
    .bg-image-home,
    .bg-image-products,
    .bg-image-us,
    .bg-image-reports,
    .bg-image-customers,
    .bg-image-work,
    .bg-image-app-shell,
    .bg-image-admin,
    .bg-image-ecommerce,
    .bg-image-pack-digital,
    .bg-image-booking
    {
        background-size:700px auto;
    }
}

@media screen and ( width: 1024px )  and ( height:600px ) 
{    
    .bg-image-home,
    .bg-image-products,
    .bg-image-us,
    .bg-image-reports,
    .bg-image-work,
    .bg-image-app-shell,
    .bg-image-admin,
    .bg-image-ecommerce,
    .bg-image-pack-digital,
    .bg-image-booking
    {
        background-size:1100px auto;
    }
}

