.mockups-images { height:100vh; }            

.section-mockup
{
    height:50vh;
    display:flex;
    justify-content: center;
}

.section-mockup:first-of-type { align-items: end; }
.section-mockup:last-of-type { align-items: start; }

.container-top,
.container-bottom 
{
    width:100%;
    max-width:1350px;
    height:50vh;
    display:flex;
}

.container-top 
{
    align-items: end;
}

.container-bottom > .box-mockup-image,
.container-top  > .box-mockup-image
{
    padding:50px;
}

.box-mockup-image
{
    width:50%;
    position: relative;
}

.btn-hero 
{
    width:252px;
    height:60px;
    font-size:18px;
    font-family: 'think-bold';
    border:none;
    transition:.3s;
    cursor: pointer;
}

.mockup-phone
{
    border-radius:50px;
    width:267px;
    height:475px;
    overflow:hidden;
    box-shadow:0px 0px 35px rgba(0,0,0,.7);
    position: absolute;
    bottom:150px;
    
}

.rect
{
    position: absolute;
    width:200px;
    height:51vh;
}

.right-rect { right:0px; }
.left-rect { right:0px; }

.mockup-right { right:150px; }
.mockup-left { left:150px; }

.inner-mockup 
{
    width:247px;
    height:455px;
    background-color:#FFFFFF;
    margin:10px;
    border-radius:40px;
    overflow: hidden;
    display: flex;
}

.mockup-image { width:252px; height:455px; }

@media screen and ( max-width:1100px ) 
{
    .mockup-right { right:50px; }
    .mockup-left { left:50px; }

    .container-h-lg > .container-bottom > .box-mockup-image:first-child { width:100%;  }
}

@media screen and ( max-width:900px ) 
{
    .mockups-images { height:140vh; }

    .section-mockup { height:70vh; }

    .rect { height:70vh; }
}

@media screen and ( max-width:800px ) 
{

    .mockups-images { height:110vh; }

    .mimage-h-10 { height:10vh; }
    .mimage-h-20 { height:20vh; }
    .mimage-h-30 { height:30vh; }
    .mimage-h-40 { height:40vh; }
    .mimage-h-50 { height:50vh; }
    .mimage-h-60 { height:60vh; }
    .mimage-h-70 { height:70vh; }
    .mimage-h-80 { height:80vh; }
    .mimage-h-90 { height:90vh; }
    .mimage-h-100 { height:100vh; }

    .section-mockup:first-of-type ,
    .section-mockup > .container-top { height:35vh; }


    .think > .section-mockup > .container-bottom > .box-mockup-image { display:none; }
    .blue > .section-mockup > .container-bottom > .box-mockup-image { display:none; }

    .think > .section-mockup > .container-bottom > .box-mockup-image:first-of-type, 
    .blue > .section-mockup > .container-bottom > .box-mockup-image:last-of-type 
    { 
        width:100%; 
        display:flex;
        flex-direction: column; 
        display:block;
        height:auto;
    }

    .container-bottom > .box-mockup-image,
    .container-top  > .box-mockup-image { padding:30px; }
}

@media screen and ( max-width: 600px ) 
{
    .think > .section-mockup .container-top > .box-mockup-image:last-of-type,
    .blue > .section-mockup .container-top > .box-mockup-image:first-of-type {  display:none; }
    
    .think > .section-mockup .container-top > .box-mockup-image,
    .blue > .section-mockup .container-top > .box-mockup-image {  width:100%; }

    .section-mockup:first-of-type ,
    .section-mockup > .container-top{ height:26vh; }

    .rect { height:27vh; }


    .mimage-h-10 { height:10vh; }
    .mimage-h-20 { height:20vh; }
    .mimage-h-30 { height:30vh; }
    .mimage-h-40 { height:40vh; }
    .mimage-h-50 { height:50vh; }
    .mimage-h-60 { height:60vh; }
    .mimage-h-70 { height:60%; }
    .mimage-h-80 { height:80vh; }
    .mimage-h-90 { height:90vh; }
    .mimage-h-100 { height:100vh; }
        
}