nav 
{
    display:flex;
    height:80px;
    justify-content: space-between;
    position:absolute;
    width:100%;
    z-index:1000;
    padding-right:20px;
    background-color:rgba(0,0,0,.3);
}

#triangle 
{
    width:25px;
    height:25px;
    background-color:#FFFFFF;
    position:absolute;
    top:-10px;
    border-radius:3px;
    transform: rotate(-45deg);
    display:flex;
    margin:auto;
    left:0px;
    right:0px;
}

#bx-btn
{
    align-items: center;
    cursor:pointer;
    display:none;
    height:80px;
    justify-content: center;
    width:80px;
}

#logo 
{
    display:flex;
    justify-content: center;
    align-items: center;
    width:232px;
    height:80px;
}



nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:56%;
    height:80px;
    list-style: none;
}

nav > ul > li 
{
    position:relative;
    cursor:pointer;
}

nav > ul > li > a ,
nav > ul > li > span  
{
    font-family: 'think-bold';
    font-size:16px;
    text-decoration:none;
    color:#FFFFFF;
    transition:.2s;
    -o-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;

}

nav > ul > li:hover .links { color:#D5F901;}

nav > ul > li:hover #sub-list { display:flex; } 

#box-dialogue 
{

    width:100%;
    height:252px;
    position:absolute;
    background-color:#FFFFFF;
    border-radius:5px;
    margin-top:50px;
    height:auto;
    padding:15px;
}

#sub-list 
{
    width:506px;
    height:305px;
    position:absolute;
    left:-200px;
    display:none;
}

#box-dialogue > section > article > ul  { list-style: none; }

#box-dialogue > section > article > ul > li 
{
    padding:17px 0px 0px 10px;
    display:flex;   
}

#box-dialogue > section > article > ul > li > span > a
{
    color:#000000 ;
    text-decoration: none;
    font-family: "think-medium";
    font-size:16px;
}

#box-dialogue > section > article > ul > li > div > img { width:30px;padding:0px 10px 0px 0px; } 

.sub-btns:hover .sub-links 
{ 
    color:#7A42EB !important; 
    text-decoration: underline !important; 
}


@media screen and ( max-width:1200px )
{
    /* logo */

    #logo { min-width:250px; }

    #bx-btn { display:flex; }

    nav 
    { 
        background-color:rgba(0,0,0,.9);
        position:fixed; 
        padding-right:0px;
    }

    nav > ul 
    {
        background-color:rgba(0,0,0,.9);
        position:absolute;
        display:flex;
        flex-direction: column;
        right:0px;
        top:80px;
        height:100vh;
        width:100%;
        max-width:450px;
        min-width:320px;
        justify-content: flex-start;
        display:none;   
    }

    nav > ul > li:first-child { margin-top:80px;}
    nav > ul > li { margin:25px 0px;}
    nav > ul > li > span { text-align: center; display:block; } 
    
    /* sub menu */

    #box-dialogue
    {
        position:relative;
        border-radius:0px;
    }

    #sub-list  
    {
        position:relative;
        left:0px;
        width:100%;
    }
}

@media screen and ( max-width:800px ) 
{
    #logo > a >  img { margin-top:10px; }

    #bx-btn { display:flex; padding-bottom:15px; }

    #sub-list { height:auto; }

    nav > ul { width:100%;max-width:1000px; }
}

@media screen and ( max-width:600px ) 
{       
    nav { height:50px; }

    #logo 
    { 
        height:50px; 
        min-width:0px;
        padding-bottom:10px;
        width:125px;
    }

    #logo > a > img { width:93px; margin-top:25px;height:15px; }
        
    #bx-btn 
    { 
        height:50px;
        padding:15px 0px; 
    }

    nav > ul  { top:50px; }

    #box-dialogue > section > article 
    { 
        display:block;
        margin:auto;
        width:auto;
        min-width:280px;
    }
}

@media screen and ( max-width:400px ) 
{
    #box-dialogue > section > article > ul > li { padding:3px 0px; }
}